@font-face {
    font-family: "Ovink-Thin";
    src: url("fonts/Ovink-Thin.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ovink-Thin";
}

/*-----------------------------------------------------------------------------
Mobile Version
----------------------------------------------------------------------------*/

/* logo */

.containerMob img {
    width: 12em;
    padding: 1.5em;
}

/* burger menu */

.containerWeb {
    display: none;
    position: fixed;
}

.burgerbuttonMob {
    margin-top: 20px;
    z-index: 900;
    position: absolute;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
    cursor: pointer;

}

.burgerbuttonMob span {
    width: 100%;
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* makes it ease */
    height: 2px;
    background: #000000;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.burgerbuttonMob span:nth-child(1) {
    top: 0;
}

.burgerbuttonMob span:nth-child(2) {
    top: 44%;
    width: 60%;
}

.burgerbuttonMob span:nth-child(3) {
    bottom: 0;
}

.burgerbuttonMob.active span:nth-child(1) {
    top: 20px;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burgerbuttonMob.active span:nth-child(2) {
    width: 0%;
}

.burgerbuttonMob.active span:nth-child(3) {
    bottom: 20px;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.containerMob {
    height: 50px;
    display: grid;
    grid-template-areas: ' logo burger';
    grid-template-columns: 0.5fr 120px;
    width: 100vw;
    align-items: center;
    position: fixed;
    z-index: 900;

}

.navbarSmall {
    display: none;
}

.show {
    display: block;
}

.navbarText {
    background-color: #e9e9e9;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 800;
    display: grid;
    align-items: center;
    justify-content: center;

}

.navbarSmall ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbarSmall li {}

.navbarSmall a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

/* slideshow container */

.slideshow-container {
    max-width: 100%;
    margin: auto;

    /* make the images go to lower left corner*/
    position: absolute;
    left: 0em;
    bottom: 0em;
}

/* Hide the images by default */

.mySlides {
    display: none;
}

/* slide images */

.mySlides img {
    width: 90%;
}

/* furniture title and caption */

.frontPageText {
    position: relative;
}

.slideText {
    font-size: 3em;
    position: absolute;
    bottom: 65vh;
    text-align: center;
    width: 100%;
    font-weight: 100;
}

.slideCaption {
    position: absolute;
    bottom: 50vh;
    text-align: center;
    padding: 2em 5em 2em 5em;
}


/* fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 3s;
}



@keyframes fade {
    0% {
        opacity: 0.2
    }
    10% {
        opacity: 0.4
    }
    100% {
        opacity: 1
    }
}




/*-----------------------------------------------------------------------------
Web Version
----------------------------------------------------------------------------*/

@media screen and (min-width: 580px) {


    .containerWeb {
        display: block;
    }


    .containerMob {
        display: none;
    }

    /* logo  */
    .containerWeb img {
        width: 12em;
        padding: 1.5em;
    }

    .topImg{
        width: 70vw;
        position: absolute;
    }
    .furnitureTitle{
        align-self: center;
        justify-self: center;
        position: absolute;
        right: 30px;
        top: 30vh;
    }

    /* burger menu */
    .burgerbutton {
        margin-top: 20px;
        z-index: 10;
        position: absolute;
        right: 20px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    .burgerbutton span {
        width: 100%;
        transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        /* makes it ease */
        height: 2px;
        background: #000000;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .burgerbutton span:nth-child(1) {
        top: 0;
    }
    .burgerbutton span:nth-child(2) {
        top: 44%;
        width: 60%;
    }
    .burgerbutton span:nth-child(3) {
        bottom: 0;
    }
    .burgerbutton.active span:nth-child(1) {
        top: 20px;
        transform-origin: left;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .burgerbutton.active span:nth-child(2) {
        width: 0%;
    }
    .burgerbutton.active span:nth-child(3) {
        bottom: 20px;
        transform-origin: left;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }


    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav {
        justify-self: end;
        display: none;
    }

    nav li {
        display: inline;
    }
    nav a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
    }

    .middleSubpage{
        display: grid;
        grid-template-columns: 50vw 50vw;
        position: relative;
    }
    .sideImg{
        justify-self: end;
        height: 70vh;

    }
    .topSVG{
        position: absolute;
    }

    .furnitureDesc{
        align-self: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .workInfo{
        position:relative;
    }

    .image{
        display: block;
    }

    .overlay {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #ECE7E7;
    }

    .billedeBlok{
        display: grid;
    }

    .vertical{
        grid-template-columns: 1fr 1fr;
        width: 50vw;
    }
    .horizontal{
        grid-template-columns: 1/-1;
    }

    .workInfo:hover .overlay{
        opacity: 0.9;
    }

    .text {
        color: #000000;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
}

    .squaresSubpage{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #ECE7E7;

    }

    .leftWord{
        justify-self: center;
        align-self: center;
    }

    .rightWord{
        justify-self: center;
        align-self: center;
    }

    .squaresSubpage img{
        width: 50vw;
    }

    .topSubpage{
        position: relative;
        height: 90vh;
    }


    .containerWeb {
        z-index: 400;
        display: grid;
        grid-template-areas: '. logo burger';
        grid-template-columns: 0.5fr 1fr 70px;
        width: 100vw;
        align-items: center;
        position: fixed;

    }

    .logo {
        padding-left: 10px;


    }

    .enabled {
        display: block;
    }


    /* changing position of furniture text frontpage */
    .slideText {
        bottom: 10em;
        width: 95%;
        text-align: right;
    }

    .slideCaption {
        text-align: right;
        bottom: 27em;
        width: 95%;
        padding: 1em;
    }

    /* changing size of slideshow images */
    .mySlides img {
        width: 50%;
    }

}
