@font-face {
    font-family: "Ovink-Thin";
    src: url("fonts/Ovink-Thin.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ovink-Thin";
}

a {
    color: black;
    text-decoration: none;
}

/*-----------------------------------------------------------------------------
Mobile Version
----------------------------------------------------------------------------*/

/* logo */

.containerMob img {
    width: 12em;
    padding: 1.5em;
}

/* burger menu */

.containerWeb {
    display: none;
    position: fixed;
}

.burgerbuttonMob {
    margin-top: 20px;
    z-index: 900;
    position: absolute;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
    cursor: pointer;

}

.burgerbuttonMob span {
    width: 100%;
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* makes it ease */
    height: 2px;
    background: #000000;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.burgerbuttonMob span:nth-child(1) {
    top: 0;
}

.burgerbuttonMob span:nth-child(2) {
    top: 44%;
    width: 60%;
}

.burgerbuttonMob span:nth-child(3) {
    bottom: 0;
}

.burgerbuttonMob.active span:nth-child(1) {
    top: 20px;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burgerbuttonMob.active span:nth-child(2) {
    width: 0%;
}

.burgerbuttonMob.active span:nth-child(3) {
    bottom: 20px;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.containerMob {
    height: 50px;
    padding-bottom: 1em;
    display: grid;
    grid-template-areas: ' logo burger';
    grid-template-columns: 0.5fr 120px;
    width: 100vw;
    align-items: center;
    position: fixed;
    z-index: 900;

}

.navbarSmall {
    display: none;
}

.show {
    display: block;
}

.navbarText {
    font-size: 2.5em;
    background-color: #e9e9e9;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 800;
    display: grid;
    align-items: center;
    justify-content: center;

}

.navbarSmall ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.navbarSmall li {
    padding: 0.2em;
}

.navbarSmall a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.navScroll {
    /* adds a white background to navbar while scrolling*/
    background: rgba(255, 255, 255, 0.9);
    transition: 1s ease;
}



/*     footer      */

footer {
    background-color: #EEEDEE;
    bottom: 0;
    padding: 1em;
}

.footCont {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

.footContactInfo {
    grid-row: 1;
    padding-top: 2em;
}


.footerPic {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer h1 {
    font-size: 1.2em;
    padding: 0.5em;
    margin: auto;
    text-align: center;
}

footer p {
    padding: 0.5em;
}

.footSpons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footSponsHead {
    grid-column: 1/-1;
}

.copyright {
    text-align: center;
}

.soMe {
    padding-top: 2em;
}


.soMe img {
    width: 8%;
    padding: 1em;
}

/*      MAIN  PAGE  SLIDESHOW    */

.slideshow-container {
    width: 100vw;
    margin: auto;
    height: 100vh;
    /* make the images go to lower left corner*/
    position: relative;
    left: 0;
    bottom: 0;
}


.mySlides {
    display: none;
    position: absolute;
    bottom: -0.5%;
}



.mySlides img {
    width: 90%;


}



/* furniture title and caption */

.frontPageText {
    position: relative;
}

.slideText {
    font-size: 3em;
    position: absolute;
    bottom: 65vh;
    text-align: center;
    width: 100%;
    font-weight: 100;
}

.slideCaption {
    position: absolute;
    bottom: 50vh;
    text-align: center;
    padding: 2em 5em 2em 5em;
}


/* fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 3s;

}



@keyframes fade {
    0% {
        opacity: 0.2
    }
    10% {
        opacity: 0.4
    }
    100% {
        opacity: 1
    }
}


/*      PRODUCT PAGE                */

.text {
    display: none;
}

.productTitle {
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
    padding: 1em;
}

.billedeBlok {
    width: 90%;
    margin: auto;
    padding: 5em 0em;


}

.horizontalPic {
    width: 100%;

}

.verticalPic {
    width: 100%;
}



/*      DETAILED PRODUCT PAGE      */

.topImg {
    width: 100vw;
}

.topSVG {
    display: none;
}

.furnitureTitle {
    text-align: center;
    padding: 1.5em;
}

.furnitureYear {
    text-align: center;
    color: gray;
}

.furnitureDesc {
    padding: 2em;
}

.sideImg {
    width: 45%;
    padding-left: 55%;


}

.squaresSubpage {
    background-color: #ECE7E7;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.squaresSubpage img {
    width: 100%;
}

.squaresSubpage p {
    justify-self: center;
    align-self: center;
    font-size: 1.3em;

}

.leftWord {
    grid-row: 1;
}

.optionalSubpage {
    padding: 3em;

}

.optionalSubpage img {
    width: 100%;
}

.optionalImage1 {
    margin-left: auto;
    margin-right: auto;
}

.furnitureGraph {
    color: gray;
    font-style: italic;
    padding: 1em;
    font-size: 0.9em;
}



/*      ABOUT PAGE      */

.topprofileimage {
    width: 100%;
}

.trapezAbout {
    display: none;
}

.top-text-profile {
    padding: 4em 2em;

}

.secondprofileimage {
    width: 100vw;

}

.second-text {
    padding: 4em 2em;
    align-self: center;
}

.collage img {
    width: 100vw;
}

@media screen and (max-width: 580px) {
    /* back btn */
    .cta {
        width: 150px;
        position: relative;
        bottom: 10px;
        right: 0;
        margin: auto;
        margin-right: 8px;
        padding: 19px 22px;
        transition: all 0.2s ease;
    }

    .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 0px;
        width: 56px;
        height: 56px;
        transition: all 0.3s ease;
    }

    .cta span {
        position: relative;
        font-size: 16px;
        line-height: 18px;
        font-weight: 900;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        vertical-align: middle;
    }

    .backArrow {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #111;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
        width: 11px;
    }

    .cta {
        width: 160px;
        background: #ECE7E7;
    }

}



/*-----------------------------------------------------------------------------
Tablet Version
----------------------------------------------------------------------------*/

@media screen and (min-width: 580px) {

    /* logo */
    .containerWeb img {
        width: 12em;
        padding: 1.5em;
    }


    /* burger menu */
    .containerMob {
        display: none;
    }

    .containerWeb {
        display: block;
        z-index: 400;
        display: grid;
        grid-template-areas: '. logo burger';
        grid-template-columns: 0.5fr 1fr 70px;
        width: 100vw;
        align-items: center;
        position: fixed;


    }

    .burgerbutton {
        margin-top: 20px;
        z-index: 10;
        position: absolute;
        right: 20px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    .burgerbutton span {
        width: 100%;
        transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        /* makes it ease */
        height: 2px;
        background: #000000;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .burgerbutton span:nth-child(1) {
        top: 0;
    }
    .burgerbutton span:nth-child(2) {
        top: 44%;
        width: 60%;
    }
    .burgerbutton span:nth-child(3) {
        bottom: 0;
    }
    .burgerbutton.active span:nth-child(1) {
        top: 20px;
        transform-origin: left;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .burgerbutton.active span:nth-child(2) {
        width: 0%;
    }
    .burgerbutton.active span:nth-child(3) {
        bottom: 20px;
        transform-origin: left;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .navbarBig {
        font-size: 1.2em;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav {
        justify-self: end;
        display: none;
    }

    nav li {
        display: inline;
    }
    nav a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
    }


    .enabled {
        display: block;
    }


    .middleSubpage {
        display: grid;
        grid-template-columns: 50vw 50vw;
        position: relative;
    }
    .sideImg {
        justify-self: end;
        width: 50vw;

    }
    .topSVG {
        position: absolute;
        width: 100vw;
        right: 0;
        display: block;
    }

    .furnitureDesc {
        align-self: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .workInfo {
        position: relative;
    }

    .image {
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        margin: 0;
        transition: .5s ease;
        background-color: #ffffff;
    }

    .seeMore:hover .overlay {
        opacity: 0.9;
    }

    .seeMore {
        position: relative;
    }

    .text {
        display: block;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 700;
    }

    /*     PRODUCT    PAGE    */
    .productTitle {
        display: none;
    }
    .billedeBlok {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        grid-gap: 1.5em;
        padding: 1em;
        margin: auto;
        padding: 5em 0em;
    }

    .vertical {}
    .horizontal {
        grid-column: 1/-1;
    }

    .horizontalPic {
        width: 100%;

    }
    .verticalPic {
        width: 100%;
    }

    .workInfo:hover .overlay {
        opacity: 0.9;
    }

    /*ABOUT PAGE*/
    .topprofileimage {
        position: absolute;
        width: 90vw;
    }

    .profilepic {
        position: relative;

    }

    .top-text-profile {
        position: absolute;
        right: 30px;
        left: 60vw;
        top: 6vw;
    }


    .secondpic {
        position: relative;
        height: 85vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .trapezAbout {
        position: relative;
        width: 100%;
        display: block;
    }


    .secondprofileimage {
        position: absolute;
        width: 50%;
        right: 0;
    }


    .collage {
        background-color: #EEEDEE;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1em;
        grid-gap: 2%;
    }

    .collage img {
        width: 100%;
        padding: 0.5em 0em 0.5em 0em;
    }




    /*   DETAILED PRODUCT PAGE   */
    .topImg {
        width: 70vw;
        position: absolute;
    }
    .furnitureTitle {
        align-self: center;
        justify-self: center;
        position: absolute;
        right: 40px;
        top: 15vh;
    }

    .furnitureYear {
        align-self: center;
        justify-self: center;
        position: absolute;
        right: 90px;
        margin-top: 15px;
        font-size: 20px;
        top: 26vh;
    }
    .squaresSubpage {
        display: grid;
        grid-template-rows: 1fr 1fr;
        background-color: #ECE7E7;
    }

    .squaresSubpage img {
        width: 50vw;
    }

    .firstSquareImg {
        grid-row: 1;
    }


    .topSubpage {
        position: relative;
        height: 70vh;
    }
    .optionalSubpage {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }



    /*       MAIN PAGE     */
    /* changing position of furniture text frontpage */
    .slideText {
        bottom: 10em;
        width: 95%;
        text-align: right;
    }

    .slideCaption {
        text-align: right;
        bottom: 27em;
        width: 95%;
        padding: 1em;
    }

    /* changing size of slideshow images */
    .mySlides img {
        width: 50%;
    }



    /*     FOOTER    */
    footer {
        padding-top: 2em;
    }

    .footSpons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 4vh;
    }
    .footSponsHead {
        grid-column: 1/-1;
    }

    .soMe {
        padding: 0;
    }
    .soMe img {
        width: 5%;
    }

    .footCont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 4vh;
    }

    .footContactInfo {
        grid-column: 2;
        padding: 0;
    }

    .footerPic {
        width: 10vw;

    }
    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(192, 192, 192, 0), rgba(192, 192, 192, 0.6), rgba(192, 192, 192, 0));
    }


    /* back btn  */
    .cta {
        width: 150px;
        position: fixed;
        bottom: 10px;
        right: 0;
        margin: auto;
        padding: 19px 22px;
        transition: all 0.2s ease;
    }
    .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 0px;
        background: rgba(237, 231, 231, 0.5);
        width: 56px;
        height: 56px;
        transition: all 0.3s ease;
    }
    .cta span {
        position: relative;
        font-size: 16px;
        line-height: 18px;
        font-weight: 900;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        vertical-align: middle;
    }
    .backArrow {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #111;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
        width: 11px;
    }
    .cta:hover:before {
        width: 160px;
        background: #ECE7E7;
    }
    .cta:hover backArrow {
        transform: translateX(0);
    }
    .cta:active {
        transform: scale(0.96);
    }

}

/*-----------------------------------------------------------------------------
Web Version
----------------------------------------------------------------------------*/

@media screen and (min-width: 1000px) {

    .top-text-profile {
        position: absolute;
        right: 30px;
        left: 60vw;
        top: 17vw;

    }

    .second-text {
        padding: 4em;
    }
    .furnitureTitle {
        top: 20vw;
    }

    .furnitureYear {
        top: 28vw;
    }


}
